@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
//обнуление
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1fbd8a;
  // box-shadow: rgba(19, 40, 29, 0.098);
  height: 71px;
  .line {
    margin-top: 5px;
    width: 100%;
    background-color: rgba(19, 40, 29, 0.098);
    height: 3px;
    z-index: 4;
  }
  .header_wraper {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      span {
        font-family: "Rubik Distressed", cursive;
        color: #265863;
        font-size: 28px;
      }
      text-align: center;
      color: white;
      font-weight: bold;
    }
    .contacts_wraper {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        font-style: 16px;
        margin-left: 6px;
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
.main_container {
  padding-top: 91px;
  background: #1fbd8a;
  .main {
    display: flex;
    &_text {
      width: 50%;
      h1 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 80px;
        color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2 {
        text-align: center;
        margin-top: 15px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
      }
      a {
        margin: auto;
        margin-top: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 262px;
        height: 50px;
        text-decoration: none;
        background: #ffffff;
        border-radius: 50px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        color: #013a51;
      }
    }

    &_image {
      max-width: 50%;
      img {
        width: 400px;
        height: 250px;
        margin-left: 130px;
        border-radius: 3px;
      }
    }
  }
  padding-bottom: 20px;
}

.scheme {
  h3 {
    margin-top: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #013a51;
  }
  .item_left {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    .left {
      width: 50%;
      h4 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        text-align: center;
        color: #013a51;
      }
      p {
        margin-top: 20px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #013a51;
      }
      span {
        margin-left: 10px;
      }
    }
    .image_left {
      width: 50%;
      margin-left: 90px;
      img {
        width: 400px;
        height: 460px;
      }
    }
  }
  .item_right {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    .right {
      width: 50%;
      h4 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        text-align: center;
        color: #013a51;
      }
      p {
        margin-top: 20px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #013a51;
      }
      span {
        margin-left: 10px;
      }
    }
    .image_right {
      width: 50%;
      margin-left: 90px;
      img {
        width: 400px;
        height: 460px;
      }
    }
  }
}

.construction {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #f2f4e8 217.84%
    ),
    #193844;
  width: 100%;
  padding-bottom: 40px;
  h4 {
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  p {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
}
.benefits {
  background: #1fbd8a;
  padding-bottom: 40px;
  h4 {
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  p {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
  ul {
    margin: 0 auto;
    width: 1000px;
    li { 
      display: block;
     margin-right: 20px;
      list-style-type: none;
      color: white;
      margin-bottom: 20px;
      &::before {
        content: "✓";
        color: white;
        margin-left: 5px;
      }
    }
  }
}
.about{
  background: ;
}